.uploadifyQueue {
	margin:0;
	padding:0;
	width:auto;
	max-width:315px;
}
.uploadifyQueueItem {
	background-color: #F5F5F5;
	border: 2px solid #E5E5E5;
	font: 11px Verdana, Geneva, sans-serif;
	margin: 1px;
	padding: 5px;
	width: auto;
}
.uploadifyQueueItem .fileName{
	/*
	display: block;
	word-wrap: break-word; 
	word-break: normal;
	*/
}
.uploadifyError {
	background-color: #FDE5DD !important;
	border: 2px solid #FBCBBC !important;
}
.uploadifyQueueItem .cancel {
	float: right;
}
.uploadifyQueue .completed {
	background-color: #DCF09D;
}
.uploadifyProgress {
	background-color: #E5E5E5;
	margin-top: 5px;
	width: auto;
}
.uploadifyProgressBar {
	background-color: #0099FF;
	height: 3px;
	width: 1px;
}
/*
.fileDesc { margin-top:5px; width:300px; border:#666 solid 1px; display:none;}
.fileDesc .operate { margin:auto; width:95%;}
.fileDesc .operate span { margin:5px; float: left;}
.fileDesc .operate .operateResult { color:red; display:none;}
.fileDesc .operate a { color:black; margin:5px; text-decoration: none; float: right;}
.fileDesc hr { color:#999; width:95%;}
.fileDesc .desc { margin:auto; width:95%; padding-bottom:5px;}
.fileDesc .desc textarea { border:solid 1px #ddd; width:330px;}
*/