
/*改版*/
.livec_title{
    width: 100%;
    text-align: center;
    font-size: 24px;
    height: 75px;
    line-height: 75px;
}
.livec_onedayCourse{
    float: left;
    /*width: 14%;*/
    width: 19%;
    border: 1px solid #e5e5e5;
    /*margin-left: -1px;*/
    /*border-left: transparent;*/
    border-left: 1px solid #e5e5e5;
}
.livec_list{
    height: auto;
    display:table;
    width: 100%;
}
.livec_courseName{
    font-size: 16px;
    font-weight: bold;
    color: #333;
    height: 70px;
}
.livec_courseNameA{
    color: #186aa4;
}
.livec_courseNameA:hover .livec_courseName{
    color: #186aa4;
}
.livec_onedayCourse.isCurrent{
    margin-left: -1px;
    border: 1px solid #ffd490;
    margin-right: 0px;
}

.livec_onedayCourse.isCurrent .livec_week {
    background-color: #ffd490;
}
.livec_week div:first-child {
    font-size: 16px;
    font-weight: bold;
}
.livec_week div{
    font-size: 12px;
}
.livec_onedayCourse .livec_week{
    text-align: center;
    height: 50px;
    background-color: #e8e8e8;
    padding-top: 10px;
}
.livec_list .livec_onedayCourse:first-child{
    border-left: 1px solid #e5e5e5;
}
.livec_list .livec_onedayCourse.isCurrent:first-child{
    border-left: 1px solid #ffd490;
}
.livec_aCourse{
    padding:14px 8px 15px 20px;
    /*height: 130px;*/
    height: 140px;
    position: relative;
}
.livec_aCourse input{
    font-size: 12px;
    width: 70px;
    height: 23px;
    border:1px solid #d5d5d5;
    border-radius: 3px;
    line-height: 23px;
    margin-top: 5px;
    background:linear-gradient(top,#fefefe,#f1f1f1);
    padding:0;
}
.main_livecl {
    height: auto;
}
.livec_courseTime{
    color: #232223;
    /*font-weight: bold;*/
    font-size: 15px;
}
.line{
    border-bottom: 1px dotted  #666;
    height: 15px;
    width: 85%;
    position: absolute;
    /*bottom: 5px;*/
}
.livec_courseL .livec_aCourse:last-child .line{
    /*border: none;*/
}
.livc_top{
    padding-top: 0px;
    padding-bottom: 0px;
    height: 340px;
}
.infolist{
    position: absolute;
    color: #fff;
    top:50px;
    left: 595px;
    width: 600px;
}
.livc_top .info_li{
    font-size: 12px;
}
.livc_top .coursename{
    color: #fff;
}
.livc_btnbuy{
    /*height: 75px;*/
    /*width: 220px;*/
    border: none;
    /*border-radius: 5px;*/
    /*background-color: #37b7ed;*/
    font-size: 24px;
    color: #fff;
    /*font-weight: bold;*/
    /*box-shadow: 0px -5px #148ec2 inset;*/
    margin-top: 38px;
    background-color: #2f79ad;
    border-radius: 3px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 200px;
}
.courseDeschd .livc_current {
    border-bottom: 3px solid #186aa4;
    color: #186aa4;
    font-size: 16px;
    font-weight: bold;
    margin-left: 20px;
    padding: 11px;
}
/*近期直播begin*/
.livecoursesSlider {
    width:220px;
    /*height:715px;*/
    /*overflow:hidden;*/
    padding-left: 15px;
}
.livecoursesSlider ul {
    padding:5px;
    border-left: 1px solid #e7e7eb;
}
.livecoursesSlider li {
    padding-bottom:6px;
    position: relative;
    padding-left: 10px;
    padding: 10px 0px  0px 10px;
}
.rightline_h {
    font-size: 14px;
    height: 50px;
    line-height: 50px;
    padding-left: 10px;
    padding-right: 10px;
}
.livecourses .rightline_t {
    font-size: 16px;
}
.rightline_h a {
    color: #666666;
    font-size: 12px;
}

.lc_point {
    background-color: #e7e7eb;
    border-radius: 50%;
    height: 10px;
    left: -10px;
    position: absolute;
    top: 16px;
    width: 10px;
}
.lc_week_bg {
    //background: url("/misc/xueindex/lc_week.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: url("") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 24px;
}
.lc_week {
    font-size: 12px;
    margin-left: 13px;
    width: 60px;
    cursor: default;
}
.lc_week:hover{
    text-decoration: none;
}
.livecourse {
    padding-bottom: 16px;
}

.livecourse div {
    padding-top: 10px;
}
.begintime {
    font-size: 14px;
    font-weight: bold;
}
.livc_coursename {
    font-size: 12px;
}
.teacherH {
    height: 16px;
    padding-bottom: 3px;
    padding-right: 5px;
    vertical-align: middle;
    width: 16px;
}

.teacherName {
    color: #9f9f9f;
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#teacherUnits {
    padding-left: 20px;
}
a{
    color: #303030;
}
a:hover{
    color: #186aa4
}
/*近期直播end*/

#modal-learntip .modal-body{
    text-align: center;
    padding-top:30px
}
#modal-learntip .modal-footer{
    border-top:0;
}
#modal-learntip #modal_confirm:hover,
#modal-learntip #modal_confirm{
    background-color: #186aa4;
    background-image: none;
    border: none;
}
#modal-learntip .modal-dialog{
    width: 400px;
}
.edit_class{
    margin-top: -125px;
    margin-left: 150px;
    z-index:100;
}

.del_class{
    margin-top: -20px;
    margin-left: 180px;
    z-index:100;
}

.mainContainer {
    padding: 0px;
    margin: 0 auto;
    width: 1000px;
}