/*container*/
.container_box {
    width: 1190px;
    height: auto !important;
    height: 700px;
    min-height: 700px;
    margin: 0 auto;
}
.fx_container_box {
    height: auto !important;
    height: 700px;
    min-height: 700px;
    margin: 0 auto;
    margin-top: -10px;
}
/*head*/
.head .inner {
    *zoom: 1;
    height:80px
}

.head .inner:after {
    content: "\200B";
    display: block;
    height: 0;
    clear: both
}

.head_box {
    position: relative;
    background-color: #fff;
    width: 1190px;
    /*padding-bottom: 15px;*/
    margin-left: auto;
    margin-right: auto;
    height: 65px;
    /*-webkit-box-shadow: 0 2px 5px #ddd;*/
    /*-moz-box-shadow: 0 2px 5px #ddd;*/
    /*-o-box-shadow: 0 2px 5px #ddd;*/
    /*box-shadow: 0 2px 5px #ddd;*/
}

.account {
    float: right;
    padding-top: 20px;
    font-size: 0;
    color:#303030
}

.account_meta {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    font-size: 14px
}

.account_meta a {
    color: #303030
}
.account_meta a:hover {
    color: #459ae9
}

.account_info {
    position: relative;
    margin-right: 8px;
    min-width: 50px;
    margin-top: 9px
}

.account_info .avatar {
    position: absolute;
    top: -9px;
    left: -50px;
    width: 38px;
    height: 38px;
    background-color: #f0f0f0;
    border-radius:50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    overflow:hidden
}

.account_info .nickname {
    display: inline-block;
    font-weight: 400;
    font-style: normal;
}

.account_logout a {
    display: inline-block;
    margin-left: 5px;
    padding-left: 24px;
    line-height: 16px;
    /*background:url("../img/ico_close.png") no-repeat left bottom;*/
}

.logo {
    float: left;
    padding-top: 20px;
    font-size: 24px
}

.logo a {
    display: block;
    width: 248px;
    height: 40px;
    overflow: hidden;
    text-decoration: none;
    *background: transparent url("../img/bg_logo.png") 0 0 no-repeat;
    *line-height: 120px
}

.logo a:before {
    display: inline-block;
    content: url("../img/bg_logo.png");
}
.foot {
    border-top: 1px solid #e5e5e5;
    background-color: #ffffff;
    color: #666;
    font-size: 13px;
    padding: 20px 0 30px;
    text-align: center;
}
.foot a{
    color: #666;
}
.w {
    width: 1190px;
    margin: 0 auto;
}
.w1200 {
    width: 1200px;
    margin: 0 auto;
}