.mainbox {

}
body{
    background-color: #fff;
}
.img_slider{
    /*height: 366px;*/
}

.offlinecourse{
    height: 286px;
    padding-left: 20px;
}
.off_t{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
}
#offlinecourses{
    /*margin-left: 20px;*/
    margin-right: 10px;
}

.content{
    width: 1190px;
    margin-left: auto;
    margin-right: auto;
}
.fl{
    float: left;
}
.flexslider{
    position: relative;
    /*height: 366px;*/
}
.slides{
    /*height:366px;*/
}
.topbox .flex-control-nav {
    bottom: 10px;
    z-index: 2;
}
.offlinecourseCover{
    height: 120px;
    width: 210px;
}
.offlinecourseTmp{
    display: inline-block;
    margin-right: 16px;
    width: 214px;
}
.offlinecourseTmp:hover{
  cursor: pointer;
}
/*.units img{*/
    /*width: 100%;*/
    /*height:255px;*/
/*}*/
/*.units {*/
    /*height: 340px;*/
    /*padding-left: 20px;*/
    /*padding-right: 10px;*/
/*}*/
.tab-pane{
    height: 220px
}
.unitimg{
    width:45%;
}
.p_tab{
    margin-bottom: 0;
}
.unitlist{
   margin-left: 10px;
}
.nowlivecourse li{
    padding-top: 5px;
}
.nowlivecourse{
    height: 321px;
    position: absolute;
    top:138px;
    z-index: 9;
    right: 0px;
    background:  rgba(0, 0, 0, 0.4);
    width: 231px;
}
.nowlivecourse .grey{
    font-size: 12px;
}
.timedown .time{
    /*background: url('timedown.png') no-repeat scroll 0 0 rgba(0, 0, 0, 0);*/
    /*width:24px;*/
    /*height: 39px;*/
    font-size: 26px;
    text-align: center;
}
.timedown div{
    display: inline-block;
}
.timedown {
    position: relative;
    bottom: 5px;
}
.day,
.hour,
.min,
.sec{
    margin-right: 3px;
    margin-left: 3px;
}
#livecourses{
    height:360px;
    max-height: 360px;
    border-left: 1px solid #e7e7eb;
}
.livecourses{
    height: 400px;
    width: 230px;
    background-color: #f7f8f9;
}
.livecoursesSlider {
    width:220px;
    height:340px;
    overflow:hidden;
    padding-left: 15px;
}
.livecoursesSlider ul { padding:5px; }
.livecoursesSlider li {
    padding-bottom:6px;
    position: relative;
    padding-left: 10px;
    padding: 10px 0px  0px 10px;
}
.livc_coursename {
    font-size: 12px;
}
.livecourse .livc_coursenameA:hover{
    text-decoration: underline;
    color: #186aa4;
}
.lc_week{
    width: 60px;
    margin-left: 13px;
    font-size: 12px;
    cursor: default;
}
.lc_week:hover{
    text-decoration: none;
}
.fr{
    float: right;
}
.weixin{
    height: 340px;
    width: 230px;
    margin-top: -80px;
}
.weixin .title{
    font-size: 18px;
    font-weight: bold;
    height: 65px;
    line-height: 65px;
}
.weixin img{
    margin-top: 20px;
    margin-bottom: 10px;
}
.weixin .weixin_title{
  padding-left: 10px;
}
.weixin_logo_bg{
    background-color: #fff;
    width: 230px;
    height: 246px;
    text-align: center;
}
.weixin_logo_bg > div {
    font-size: 16px;
    font-weight: bold;
}
.rightline_h{
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    height: 50px;
    line-height: 50px;
}
.livecourses .rightline_t{
    font-size: 16px;
}
.bbs_content .bbs_a a:hover,
.livecourses a:hover{
    color: #186aa4;
    text-decoration: underline;
}
.livecourses .lc_week:hover{
    color: #303030;
}
#hotList a:hover{
    color: #186aa4;
    text-decoration: underline;
}
#hotList li a{
     text-decoration: none;
}
#hotList li a:hover{
    color: #303030;
    text-decoration: none;
}
#hotList li a:hover .hotondemand_courseName{
    color: #186aa4;
    text-decoration: underline;
}

.nowlivecourse .rightline_t{
    font-size: 16px;
    font-weight: bold;
    padding-top: 0;
    padding-bottom: 28px;
    /*padding-left: 8px;*/
    line-height: 26px;
}
.lc_img {
    background: url("../../images/now_lvc.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: inline-block;
    height: 50px;
    padding-right: 8px;
    vertical-align: middle;
    width: 26px;
    margin-top: 5px;
}
.cname{
    width: 170px;
    font-size: 18px;
    height: 30px;
    color: #ffffff;
    padding-left:10px;
    margin-bottom: 6px;
}
.cname a{
    width: 160px;
    height: 70px;
    font-size: 18px;
    color: #ffffff;
}
.nowlivecourse .grey{
    margin-right: 5px;
}
.mainbox a{
   text-decoration: none;
    color:#303030;
}

.mainbox a:hover{
    text-decoration: none;
}
.lc_point{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #e7e7eb;
    position: absolute;
    left:-10px;
    top:16px
}
.grey{
    color:#ccd4da;
}

.cities{
    text-align: left;
}
.unitContent{
    height: 300px;
}
.unitpoint{
    width: 8px;
    height: 8px;
    background-color: red;
    display: inline-block;
    margin-right: 6px;
}
.unitname{
    display: inline-block;
}
.unitDes{
    margin-left: 15px;
}
.off_lvc_name,
.of{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 210px;
}
.teacherName{
    color: #9f9f9f;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100px;
}
#teacherUnits{
    padding-left: 20px;
}
 .teacherH{
     height: 16px;
     padding-bottom: 3px;
     padding-right: 5px;
     vertical-align: middle;
     width: 16px;
}
.begintime{
    font-size: 14px;
    font-weight: bold;
}
.livecourse{
   padding-bottom: 16px;
}
.livecourse div{
   padding-top: 10px;
}
.lc_week_bg{
    background: url("lc_week.png") no-repeat;
    height: 24px;
    line-height:24px;
}
.bbs{
    height: 340px;
}
.bbs_content .bbs_title{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 195px;
    font-size: 13px;
}

.bbs_a .bbs_d{
    width: 4px;
    height: 4px;
    background-color: #71a3ee;
    position: absolute;
    left:-15px;
    top:10px
}
.bbs_content ul{
    width: 256px;
    padding-left: 44px;
    padding-right: 15px;
}
.bbs_a{
    height: 26px;
    line-height: 26px;
    position: relative;
}
.bbs_img{
    text-align: center;
}
.bbs_img .bbs_t1{
    color: #71a3ee;
}
.bbs_img .bbs_t2{
    color: #fbc042;
}
.bbs_img .bbs_t3{
    color: #13ce8e;
}
.bbs_img > div{
    font-size: 13.72px;
    height: 30px;
}
.bbs_more{
    font-size: 14px;
    padding-left: 780px;
}
.bbs_time{
    font-size: 12px;
}
.courseStatus{
    height: 43px;
    width: 180px;
    display: none;
    border: none;
    /*border-radius: 5px;*/
    /*background-color: #37b7ed;*/
    /*box-shadow: 0px -5px #148ec2 inset;*/
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    margin-top: 5px;
    background: none;
}
.ctip{
    display: none;
    padding-top: 5px;

}
.nowlvc_bt .courseEnd{
    display: none;
    text-align: center;
    padding-top:15px;
    font-size: 16px;
    font-weight: bold;
}

.img_slider  .flex-control-nav{
    z-index: 2;
}
.img_slider .flex-control-paging li a{
    width:13px;
    height:13px;
}
.timeSplit0,
.timeSplit1,
.timeSplit2{
    color:#ccd4da;
    font-size: 20px;
    font-weight: bold;
    display: inline;
    position: absolute;
    top:5px;
}
.timeSplit0{
    left:77px;
}
.d2 div{
    font-size: 18px;
    padding-bottom: 6px;
    vertical-align: middle;
}
.timeSplit1{
    left:123px;
}
.timeSplit2{
    left:168px;
}
.noDay .timeSplit1{
    left:90px;
}
.noDay .timeSplit2{
    left:135px;
}
.noDay .timeSplit0,
.noDay .day{
    display: none;
}
.aimg{
    width: 1200px;
}

.aimg img{
    height: 366px;
}
.topbox{
    margin-top: 0px;
}
.nowlvc_bt{
    background:rgba(0, 0, 0, 0.5)  ;
    height: 70px;
    width: 231px;
    color:#ccd4da;
    position: absolute;
    bottom: 0;
}
.status_2:hover{
    background:rgba(0, 0, 0, 0.7);
}
.off_lvc{
    width: 960px;
}
.wt_bg{
    background-color: #fff;
}
.grey_bg{
    background-color: #f7f8f9;
}
.course_content{
    height: 508px;
    padding-top: 10px;
}
.now_lvc_info{
    padding: 20px 20px 0 20px;
    position: relative;
    bottom: 0;
}
.title_tab .category{
    background-color:#186aa4 ;
    padding-bottom: 4px;
    width: 240px;
    position: relative;
}
.title_tab .category a:hover,
.title_tab .category a{
    color: #ffffff;
}
.title_tab .category a{
    text-align: left;
    margin-left: 45px;
}
.title_tab .category b{
    background: url("../../images/cateIcon.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    width: 12px;
    height:10px;
    position: absolute;
    top: 15px;
    left: 20px;
}
.categoryList{
    width: 240px;
    height:366px;
    background-color:#104f77;
    filter:alpha(opacity=90);
    opacity: 0.9;
    position: absolute;
    top: 111px;
    left: 0;
    z-index: 9;
}
.title{
    height: 78px;
    line-height: 78px;
    font-size: 22px;
    padding-left: 22px;
    /*font-weight: bold;*/
}

.off_lvc_l{
    height: 400px;
    width: 240px;
}
.one_lvc_name{
   padding: 10px 0;
}
.off_lvc_r{
    height: 400px;
}
.off_lvc_th img{
    width: 16px;
    height:16px;
    padding-right: 5px;
    padding-top: 3px;
}
.one_lvc{
    margin: 0 10px;
    padding-bottom: 10px;
}
.one_lvc li{
    padding:0 10px;
}
.one_lvc:hover{
    box-shadow:0px 0px 5px rgba(48,48,48,0.3);
}
.one_lvc .course_img{
    padding: 0;
}
.one_lvc .course_img img{
    width: 100%;
}
.off_lvc_l1 ul{
    margin-bottom: 34px;
}
.off_lvc_free{
    color: #5fb41b;
}
.one_lvc .off_lvc_name{
    font-size: 14px;
    padding: 5px 10px;
}
.rightline_h a{
    color: #666666;
    font-size: 12px;
}
.teacher{

}
.coursename{
    font-size: 12px;
}
.ondemand_sort{
    background-color: #fff;
}

.unit_city{
    width: 190px;
    height: 200px;
    background-color: #f7f8f9;
    padding: 20px;
}
.unit_list1 ul{
    padding-bottom: 20px;
}
.unit_list1 img{
   width: 220px;
    height: 110px;
}
.unit_content{
    height: 348px;
}
.unit_city_num{
    text-align: center;
    height: 93px;
    width: 93px;
    background-color: #b8d6da;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}
.unit_city_num > div{
    padding-top: 10px;
}
.one_unit{
    padding: 0 10px;
}
.unit_city_num .num{
    font-size: 32px;
    line-height: 1.3;
    font-family: arial;
}
.unit_city_list span{
    display: inline-block;
    width: 33%;
    padding: 5px 0;
    text-align: center;
}
.unit_city_list{
    padding-top: 20px;
}
#modal-moreAreas .unit_city_list span{
    width: 15%;
}
.ondemand_content{
    height: 508px;
}
.course_img{
    height: 124px;
    overflow: hidden;
    width: 220px;
}
.bannerfloat{
    width: 1190px;
    margin-left: auto;
    margin-right: auto;
}
.sortNum{
    text-align: center;
    font-size: 12px;
    margin:0 10px;
    width: 16px;
}
.last{
    margin-right: 10px;
}
.first{
    width: 16px;
    height: 16px;
    line-height: 16px;
    margin: 7px 10px 0 10px;
    color: #fff;
    background-color: #de3f47;
}
#hotList li{
    line-height: 28px;
}
.hotondemand_courseDes{
    margin-left: 38px;
}
.hotondemand_courseImg{
    width: 80px;
    height: 45px;
    margin-right: 10px;
}
.hotondemand_info{
    line-height: 25px;
}
.hotondemand_info img{
    margin-top: 5px;
    margin-right: 5px;
    float: left;
}
.hotondemand_courseTeacher{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 90px;
    width: 70px;
    min-width: 60px;
    float: left;
}
.categoryList .level1_name{
    font-size: 14px;
    color: #fff;
    margin-bottom: 5px;
}
.categoryList .level1_name a{
    font-size: 14px;
    color: #fff;
}
.categoryList .level1_list a{
    margin-right: 16px;
    margin-bottom: 10px;
    font-size: 12px;
    color: #a1d5ff;
}
.categoryList .level1_list a:last-child{
    margin-right: 0px;
}
.categoryList .classify {
    padding: 13px 0 13px 20px;
}
.categoryList .classify:hover{
    background-color: #186aa4;
}
#teamworks span{
    display: inline-block;
    padding: 5px 0;
    text-align: center;
    width: 50%;
}
#modal-teamworks .modal-footer{
    display: none;
}
#modal-teamworks  .modal-body{
    padding:30px 15px;
}
#modal-teamworks  .modal-dialog{
    width:550px
}
.unit_content .title .grey_a{
    color:#9f9f9f;
    cursor: pointer;
    font-size: 14px;
    padding-left: 5px;
}


.edit_class{
    width: 20px;
    height: 20px;
    margin-top: -165px;
    margin-left: 200px;
    z-index:100;
}

.del_class{
    width: 20px;
    height: 20px;
    margin-top: -20px;
    margin-left: 175px;
    z-index:100;
}