.sxy_tp{

}
.sxy_lul{
    float: left
}
.sxy_rul{
    float: right;
}
.sxy_logo a
{
    color:#000000;
    font-size: 18px;
}
.sxy_rul a,
.sxy_lul a{
    color:#000000;
    padding-left: 16px;
}
.sxy_lul #login{
    padding-left: 5px;
}
.sxy_logo a:hover,
.sxy_rul a:hover,
.sxy_lul a:hover{
    text-decoration: none;
}
.sxy_lul li{
    padding-right: 15px;
}
#header{
    margin:0 auto;
}
#header .sxy_markicon{
    background: url("/misc/img/bookmark.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    width: 13px;
    height:13px;
    cursor: pointer;
    top:8px;
    position: absolute;
}
#header .sxy_focusicon{
    background: url("/misc/img/focus.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    width: 12px;
    height:12px;
    cursor: pointer;
    top:10px;
    position: absolute;
}
.nickname{
    padding-right: 5px;
}
.sxy_logo img{
    vertical-align: middle;
    height: 48px;
}
.sxy_logo .sxy_logo_img {
    float: left;
    padding-top: 6px;
    padding-right: 6px;
}
.head{
    background-color: #fff;
}
.head_box .search{
    margin-top: -40px;
}
.head_box .search button{
    background-color: #186aa4;
    background-image: none;
    color: #fff;
    text-indent: 0;
    width: 80px;
    height: 33px;
    border-left: 0;
}
#nav,
.sxy_tp{
    width: 1190px;
    margin-left: auto;
    margin-right: auto;
}
.sxy_tp_bt{
    background-color:#f1f1f1;
    height: 28px;
    line-height: 28px;
    font-size: 12px;
}
.sxy_tp_bt a,
.sxy_tp_bt li{
    color: #666;
}
.sxy_logo{
    width: 250px;
    height: 57px;
    line-height: 55px;
}
#nav{
    background-color: #fff;
}
#xueSearch{
    border: 3px solid #186aa4;
    width: 460px;
}
#commonHeader{
    /*position: relative;*/
    border-bottom: 1px solid #d8d8d8;
}
#commonHeader #xueSearch{
    width: 206px;
    border: 1px solid #186aa4;
}
#commonHeader .head_box .search button{
    width: 60px;
    height: 31px;
}
#commonHeader #nav{
    position: absolute;
    bottom: 10px;
    left: 260px;
    width: 600px;
}

#commonHeader .head_box .search {
    margin-top: -36px;
}
#commonHeader .cl_box{
    width: 1190px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
#searchAll{
    cursor: pointer;
}

.user {
    float: right;
    padding-top: 14px
}

.user .u-img {
    float: left;
    width: 35px;
    height: 35px
}

.user .u-img img {
    width: 35px;
    height: 35px
}

.user .u-detail {
    margin-left: 45px;
}

.user .u-detail .u-name {
    margin-left: 5px;
    margin-top: 0px;
}

.user .u-detail .logout {
    color: #f24f44;
    margin-left: 10px;
}