
input{ height:18px; margin-right:5px; vertical-align: middle;}
select { height:22px; margin-right:5px; vertical-align: middle;}
textarea{ width:280px; height:70px; margin-right:5px;}


.h10{ height:10px!important;}
.bgFF{ background:#fff!important;}
.noborder{ border:none!important;}
.nopadding{ padding:0px!important;}

.radio_47{ padding-left:47px;}
.tb_ms,.tb_dz{ min-width:200px;}
.tbdown{ font-size:14px; text-decoration:underline;}

/*Split line*/
hr{ border-top:1px dotted #d9e4ea; margin:10px auto;border-width: 1px 0 0 0 ; }
/*tbl-n*/
.tbl-n{margin-top:10px; }
.tbl-n tr{height:35px; }
.tbl-n th{font-weight:normal; height:35px; white-space:nowrap;}
/*tbl-n1*/
.tbl-n1{ width:100%; }
.tbl-n1 table{ border-collapse:collapse ; padding:4px; background:#eff4f8;  }
.tbl-n1 table td,.tbl-n1 table th{ padding:2px 4px; height:35px; font-weight:normal; white-space:nowrap;}

/*date-list*/
.tbl-bg{padding-top:5px}
.tbl-bg table{border-collapse:collapse;}
.tbl-bg th{vertical-align:middle; white-space:nowrap;}
.tbl-bg td{height:30px;vertical-align:middle;padding-left:3px;white-space:nowrap;}
.tbl-bg td a{margin-right:4px}
.tbl-bg a:hover{ text-decoration:underline;}

/*tb-xn*/
.tb-xn{ background:#fff;}
.tb-xn th{background: url(../images/float_divbg.gif) repeat-x ; padding:5px; color:#687a91; text-align:center}
.tb-xn td{border-bottom:1px solid #e8e8e8; padding:4px 5px;text-align:center;}
.tb-xn .a1{ background:#fff;}
.tb-xn .a2{ background:#f8f8f8}
.tb-xn .btm{border-bottom:1px solid #2398d4;}
.btn_c{ width:112px; height:31px; background:url(../images/btn_c.gif) no-repeat; border:none; cursor:pointer; }
.btn_c:hover{ width:112px; height:31px; background:url(../images/btn_ch.gif) no-repeat; border:none; color:#fff; cursor:pointer;}
.file_s{ height:22px; line-height: 22px; padding: 0 3px; width: 219px; }
.d_btn{ height:22px; line-height:18px; width:80px;}
/*tb-x1*/

.tb-x1 .a1{ background:#eeffbf;}
.tb-x1 .a2{ background:#eeffbf;}
.tb-x1 th{ background:url(../images/float_divbg.gif) repeat-x; border:1px solid #e8e8e8; padding:5px; color:#687a91; height:28px;}
.tb-x1 td { TEXT-ALIGN: center; PADDING-BOTTOM: 4px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BACKGROUND: #fff ;  PADDING-TOP: 4px; border:1px solid #e3e9ef;}
.tb-x1 td a{ color:#0d67ac;}
.tb-x1 td a:hover{ text-decoration:underline;}
.tb-x1 td em{ font-style: normal;}

/*tb-x2*/
.tb-x2 td { border:1px solid #e3e9ef; padding:4px 5px 4px 5px;}
.tb-x2 th{ padding:8px 0px;  }
.tb-x2 h2{ line-height:160%; font-size:14px; text-indent:10px;}



/*tb-x3*/
.tb-x3 th{border:1px solid #e3e9ef; background:#fafafa;}
.tb-x3 td{ text-align:center;}

/*corcl*/
.tb_h1{ background:#f8f8f8;}
.c_be1f1f{ color:#be1f1f;}
.c_dae4ea{ background:#dae4ea;}
.red{ color:#c81111!important;}
.blue{ color:#687a91 !important;}
.green{ color:#63b900!important;}
/*tab*/
.tab{ width:100%; margin:10px 0px;}
.tab_menu{ height:20px;}
.tab_menu li{ float:left; height:20px; line-height:20px; padding:0 10px; border:1px solid #e3e9ef; border-bottom:none; margin-right:5px; background:url(../images/tabs_bg.gif) repeat-x; -moz-border-radius-topleft:5px; -moz-border-radius-topright:5px; -webkit-border-top-left-radius:5px; -webkit-border-top-right-radius:5px; min-width:45px;}
.tab_menu li.selected{ background:url(../images/tabs_bg.gif) repeat-x 0 -40px; color:#575f6b; font-weight:bold;}
.tab_menu li.hover{ background:url(../images/tabs_bg.gif) repeat-x 0 -20px; cursor:pointer;}
.tab_box{ height:100%; border:1px solid #e3e9ef; padding:5px;}

.list_box{ float:left; margin:0px 10px;}
.list_boxc{ float:left; width:67px; padding:35px 10px; text-align:center;}
.listbox_t{ width:67px; height:24px; background:url(../images/listbox_t.gif) no-repeat; margin-bottom:10px; display:block;}
.listbox_t:hover{ background:url(../images/listbox_th.gif) no-repeat; border:none; }
.listbox_s{ width:67px; height:24px; background:url(../images/listbox_s.gif) no-repeat; display:block;}
.listbox_s:hover{ background:url(../images/listbox_sh.gif) no-repeat;}
.listboxh{ height:200px;}


/*tck*/
.tck{ max-width:750px; border:1px solid #b9cbd9; max-height:900px; }
.tck h1{ height:31px; background: url(../images/tck_h1.gif) repeat-x; display:block; line-height:31px; padding-left:20px; font-size:14px; }
.tck_con{ overflow:auto;}

/*tab_checkbox tab_radio*/
.tab_checkbox{width:50px; height:20px; margin:0 auto;}
.tab_checkbox span{ margin-left:5px;}

.tab_checkbox1{  min-width:50px; height:20px; float:left; margin-left:10px;}
.tab_checkbox1 span{ margin-left:5px;}

.tab_radio{  min-width:50px; height:20px; }
.tab_radio span{ margin-left:5px;}

.tab_radio1{  min-width:50px; height:20px; float:left; margin-left:10px;}
.tab_radio1 span{ margin-left:5px;}

/*tab_tips*/
.P_tips{ float:left; color:#687a91; display:block; background:url(../images/tips_t.gif) no-repeat; padding-left:22px; font-weight:normal; text-align:left; }

/**
 * �����
 * 
 * ����ı��򳤶ȷ��࣬44 26 14 10Ϊ��������ַ���Ŀ��pswΪ���룬verΪ��֤��
 * 
 * @section �����
 */
.textField46,
.textField28,
.textField18,
.textField12,
.textField8,
.textField4,
.textField2,
.textField{ height: 20px; line-height: 20px; padding: 0 3px; border-style: solid; border-width: 1px; border-color: #bbbfc3; background-color: #fff; font-size: 12px; }
.textField46 { width: 278px }
.textField28 { width: 169px }
.textField18 { width: 109px }
.textField12 { width: 74px }
.textField8 { width: 49px }
.textField4 { width: 22px }
.textField2 { width: 14px }

.dateSet{
    background:#fff url(../images/datePicker.gif) no-repeat right;
    height: 20px; line-height: 20px; padding: 0 3px; border-style: solid; border-width: 1px; border-color: #bbbfc3; background-color: #fff; font-size: 12px; 
    width: 169px;
}
.timeSet{
    background:#fff url(../images/datePicker.gif) no-repeat right;
    height: 20px; line-height: 20px; padding: 0 3px; border-style: solid; border-width: 1px; border-color: #bbbfc3; background-color: #fff; font-size: 12px; 
    width: 169px;
}
.dateTimeSet{
    background:#fff url(../images/datePicker.gif) no-repeat right;
    height: 20px; line-height: 20px; padding: 0 3px; border-style: solid; border-width: 1px; border-color: #bbbfc3; background-color: #fff; font-size: 12px; 
    width: 169px;
}

/**
 * �ı���
 * 
 * ����ı����ȷ��࣬370 400 460 564Ϊpx���
 * @section �ı���
 */
textarea{
	border:1px solid #bbbfc3;
	resize:none; 
	font-size:12px;
}
.textarea370 { width: 371px; height: 48px; }
.textarea400 { width: 394px; height: 79px; }
.textarea460 { width: 454px; height: 54px; }
.textarea564 { width: 558px; height: 106px; }
/**
 * ������
 * 
 * ��������򳤶ȷ��ಢ�룬44 26 14 10Ϊ��������ַ���Ŀ
 * 
 * @section �ı���
 */
.select46,
.select28,
.select18,
.select12,
.select8,
.select { height: 22px;  border-style: solid; border-width: 1px; border-color: #bbbfc3; background-color: #fff; }
.select46 { width: 286px }
.select28 { width: 177px }
.select18 { width: 117px }
.select12 { width: 82px }
.select8 { width: 57px }
/**
* @subsection �ı�
*/
.textC { text-align: center }
.textL { text-align: left }
.textR { text-align: right }
.valignT{
	vertical-align: top;
}
.valignM{
	vertical-align: middle;
}
/**
 * @�������
 */
.fz14{font-size: 14px;}
.fwNormal{font-weight: normal;}
.fwBold{font-weight: bold;}
.aNormal{color:#000000;}
.aRed{color:#d42b15;}
.aBlue{color:#155dd4;}
/**
 * @�����б�
 */
.tb-workOrder-list {
	margin-bottom: 20px;
}
.tb-workOrder-list td{
	line-height: 22px;
}
.tb-workOrder-list label{
}
.tb-workOrder-list span{
	margin-right: 20px;
	color: #666666;
}
.tb-workOrder-list span.spe{
	color:#199668;
}

/**
 * inputPassError
 */


.Map_Divide{ background:none transparent scroll repeart 0% 0%; height:740px; width:1606px;}


.jm_a{  color:#0d67ac; font-size:14px;}
.jm_a:hover{ text-decoration:underline;}

/*tb-x21*/
.tb-x21{border-collapse:collapse; table-layout:fixed;}
.tb-x21 td { border:1px solid #e3e9ef; padding:4px 5px 4px 5px; word-break:break-all;word-wrap:break-word;}
.tb-x21 th{ padding:8px 0px;  }
.tb-x21 h2{ line-height:160%; font-size:14px; text-indent:10px;}
/*tb-x31*/
.tb-x31{border-collapse:collapse; table-layout:fixed;}
.tb-x31 th{border:1px solid #e3e9ef; background:#fafafa;}
.tb-x31 td{ text-align:center; overflow:hidden;  word-break:break-all;word-wrap:break-word;  }
