.selectArea , .selectArea2 
{
	margin-left:50px;
	margin-bottom:2px;
	border:1px solid black;
	width:700px;		
}
.selectArea3, .selectArea4
{
	margin-left:50px;
	margin-bottom:20px;
	border:1px solid black;
	width:700px;		
}
.selectArea
{
	height:230px;
	
}
.selectArea3
{
	height:50px;
}

.selectArea td,.selectArea3 td
{
	padding-bottom:2px;
	
}

.selectArea2 td,.selectArea4 td
{
	padding-left:5px;
	padding-right:5px;
	padding-top:2px;
	
}
.selectArea2 td.spanSize,.selectArea4 td.spanSize
{
	text-align:right;
}
/* .datepicker
{
	padding-left:2px;
} */
.move
{
	margin:10px;
}

.input
{
	width:100px;
	height:20px;
	margin-top:2px;
}